.login {
    height: 100%;
    width: 100%;
    background-color: #282c34;
}

.fadeout {
    transition: 0.5s;
    opacity: 0;
}

.login-center {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.login-logo {
    margin-bottom: 3rem;
}

.login-logo img {
    height: 10rem;
}